body {
    background: url('/img/benz.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.jumbotron {
    margin-bottom: 0px;
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
}

.well {
    background: rgba(255, 255, 255, 0.7);
}

.panel-primary>.panel-heading {
    color: #ffffff;
    background-color: black;
    border-color: white;
}

.panel {
    background: red;
}

.panel-primary {
    border-color: white;
}

h1 {
    font-family: 'Special Elite', cursive;
}

.btn-danger {
    color: red;
    background-color: white;
    border-color: red;
}